@foreach (var product in ProductModelList)
{
    <a href="@($"/Product/{product.Category}/{product.ProductId}")">
        <div class="col-lg-10 col-8 shadow-sm rounded m-2" style="height:400px;width:450px;">
            <div class="col-12 p-0 m-1">
                <img src="@product.ProductImg" width="230" height="200" alt="ProductImg" />
            </div>
            <div class="col-12 text p-0 m-0">
                <h6>@product.Name</h6>
            </div>
        </div>
        <div class="col-12 text-center mt-4 m-1">
            <h4>@product.Price zl</h4>
        </div>
    </a>
}