<div class="col-12 text mt-3 p-0 m-0 text-left text-black-50">
    <span class="d-block text"><b>Fans:</b> @Model.Fans</span>
    <span class="d-block text"><b>RPM Control:</b> @Model.RpmControl</span>
    <span class="d-block text"><b>Compatibility:</b> @Model.Compatibility</span>
    <span class="d-block text"><b>Heat Pipes:</b> @Model.HeatPipes</span>
</div>