<div class="col-12 text mt-3 p-0 m-0 text-left text-black-50">
    <span class="d-block text"><b>Recommended PSU:</b> @Model.RecommendedPsuPower</span>
    <span class="d-block text"><b>Memory Bus:</b> @Model.MemoryBus</span>
    <span class="d-block text"><b>Core Ratio:</b> @Model.CoreRatio</span>
</div>