@page "/Products/{Category}"

@* @if (Products == null) *@
@* { *@
@*     <div><em>Loading...</em></div> *@
@* } *@
@* else *@
@* { *@
    <div @key="_areFiltersClear" class="col-2 border-top rounded border-right p-0 m-0 float-left">

        <div class="p-2">
            <span class="h6 d-block">Cena</span>
            <input name="PriceMin" type="number" class="col-4 p-0 m-0 border rounded text-center" /> - 
            <input name="PriceMax" type="number" class="col-4 p-0 m-0 border rounded text-center" />
        </div>
        @* @foreach (var filter in Filters) *@
        @* { *@
        @*     <fieldset> *@
        @*         <div class="p-2"> *@
        @*             <span class="h6 d-block">@filter.Key</span> *@
        @* *@
        @*             @foreach (var param in filter.Value) *@
        @*             { *@
        @*                 <label class="d-block m-0"> *@
        @*                     <input type="checkbox" @onchange="(e => UpdateFilters(filter.Key, param,e))"/><span class="p-1">@param</span> *@
        @*                 </label> *@
        @*             } *@
        @*         </div> *@
        @*     </fieldset> *@
        @* } *@
        @* <div class="col-12 d-flex align-items-center justify-content-center"> *@
        @*     <button @onclick="Filter" class="d-block btn-primary col-7 rounded">Filtruj</button> *@
        @*     <i @onclick="ClearFilters" class="fa-solid ml-2 fa-circle-xmark clearFilters fa-xl text-danger" style="cursor: pointer"></i> *@
        @* </div> *@
    </div>
    <div class="col-10  p-0 m-0 d-flex flex-wrap justify-content-center float-left" id="products">
        @Preview
    </div>
@* } *@