<div class="col-12 text mt-3 p-0 m-0 text-left text-black-50">
    <span class="d-block text"><b>Architecture:</b> @Model.Architecture</span>
    <span class="d-block text"><b>TDP:</b> @Model.Tdp</span>
    <span class="d-block text"><b>Socket:</b> @Model.Socket</span>
</div>