@page "/sign-in"
@using Website.Components.Base

<div class="container col-lg-6 col-md-10 p-5 h-100">
    <div class="h-100 shadow rounded justify-content-center col-12 align-items-center">
        <h4 class="py-3 border-bottom">Sign In</h4>
        <div class="row">
            <form action="/user/signin" method="post" class="p-2 col-6 border-right float-left">
                <div class="form-group m-2">
                    <label>Email</label>
                    <input name="Email" type="email" class="form-control" required />
                </div>

                <div class="form-group m-2">
                    <label>Password</label>
                    <input name="Password" type="password" class="form-control" required />
                </div>

                <button type="submit" class="btn btn-primary m-2 font-weight-bold">Sign In</button>
            </form>
            <div class="col-6 float-left">
                <h4>Don't have account yet?</h4>
                <h5>It's good time to Sign Up!</h5>
                You don't have choice anyway, without it you can't buy anything.
                <i class="fa-regular fa-face-smile-wink"></i>
                <a href="@Routing.SignUp"class="btn btn-primary mt-2 font-weight-bold d-block">Sign Up</a>
            </div>
        </div>
    </div>
</div>